.intro-container {
    margin-right: 100px;
    margin-left: 100px;
    /* margin-top: 20vh; */
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.intro-title {
    font-family: 'Monaco', Consolas, 'Lucida Console', monospace;
    font-size: 4.5em;
    /* color: rgb(214, 29, 122); */
    color: rgba(197, 72, 180, 0.65);
}

.intro-title:before {
    content: '>\a0';
}



.typer-span {
    background-color: rgba(197, 72, 180, 0.65);
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
      background-color: transparent;
    }
}

.intro-description {
    font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 40px;
    color: rgba(3, 7, 15, 0.65);
    margin: 80px 0;
}
