.navbar-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}


.navbar {
    display: flex;
    justify-content: space-around;
    width: 286px;
    font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
    font-size: 1.2em;
    margin-top: 40px;
}

.proj-scroll {
position: relative;
text-decoration: none;
color: rgba(197, 72, 180, 0.65);
}

.contact-scroll {
    position: relative;
    text-decoration: none;
    color: rgb(52, 57, 63);
    }

a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 8px;
    background-color: rgb(135, 132, 175);
    content: '';
    transition: width 0.15s;
}

a:hover {
    color: rgb(135, 132, 175);
}

.proj-scroll:hover:after {
width: 100%;
}

.contact-scroll:hover:after {
    width: 100%;
    }
